<% provide(:title, 'Transfer') %>
<%= form_for(@token, :url => token_path(@token), :as => :token) do |f| %>
    <% if @token.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@token.errors.count, "error") %> prohibited this transaction:</h2>
          <ul>
            <% @token.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-wrapper ui-corner-all ui-listview ui-listview-inset ui-shadow">
      <div class="form-element qp-name-row">
        <%= f.label :account_number, 'Pay from' %>
        <br/>
        <%= f.select :account_number, @accounts %>
      </div>
      <div class="form-element qp-name-row">
        <%= f.label :amount, 'Amount $' %>
        <br/>
        <%= f.text_field :amount, :step => 0.01, :type => 'number' %>
      </div>
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <%= link_to 'Cancel', root_path, :class => 'cancel secondary-button', 'data-role' => "button",
                    'data-theme' => 'dva', 'data-icon' => "back" %>
      </div>
      <div class="ui-block-b">
        <%= f.submit 'Create QR-token', 'data-role' => "button", 'data-theme' => 'dva',
                     'data-icon' => "arrow-r", 'data-iconpos' => "right" %>
      </div>
    </div>

<% end %>